<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bbslike">
	
	<insert id="likeUp" parameterType="bbslikeVO">
		insert into bbslike (bbs_no, member_id)
		values(#{bbs_no}, #{member_id})
	</insert>
	
	<delete id="likeDown" parameterType="bbslikeVO">
		delete from bbslike where bbs_no = #{bbs_no} and member_id = #{member_id}
	</delete>
	
	<select id="findLike" parameterType="bbslikeVO" resultType="int">
		select count(*) from bbslike where bbs_no = #{bbs_no} and member_id = #{member_id}
	</select>
	
</mapper>