<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="group">
	
	<select id="one" parameterType="String" resultType="groupVO">
		select * from `bbsgroup` where group_name = #{group_name}
	</select>
	
	<select id="all" resultType="groupVO">
		select * from `bbsgroup`
	</select>
	
	<!-- 게시판 즐겨찾기 -->
	<select id="book" parameterType="String" resultType="String">
		select Sign_address from member
		where Sign_id = #{Sign_id}
	</select>
	
	<select id="auto" parameterType="map" resultType="map">
	    select * from bbsgroup
	    where group_name like CONCAT('%', #{value}, '%')
    </select>
    
</mapper>