<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="location">
	
	<insert id="create" parameterType="locationVO">
		insert into location values (#{location_id}, #{location_district}, #{location_addr}, #{location_name})
	</insert>
	
	<delete id="del"  parameterType="String">
		delete from location where id = #{location_id}
	</delete>
	
	<update id="up"  parameterType="locationVO">
		update location set location = #{location_name} where id = #{location_id}
	</update>
	
	<select id="one" parameterType="String" resultType="locationVO"> 
	select * from location where id=#{location_id}
	</select>
	
	<select id="all" resultType="locationVO">
	select * from location
	</select>
</mapper>
