<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="note">


	<insert id="create" parameterType="noteVO">
		insert into note values
		(#{no}, #{title}, #{content}, #{sender}, #{receiver}, now())
	</insert>
	
	<delete id="del" parameterType="int">
		delete from note
		where no = #{no}
	</delete>
	
	<!-- note 상세페이지용   -->
	<select id="one" parameterType="int"  resultType="noteVO">
		select * from note
		where no = #{no}
	</select>
	

	<select id="send" resultType="noteVO"  parameterType="noteVO" >
		select *
		from note
		where sender = #{sender}
	</select>
	
	<select id="receive" resultType="noteVO"  parameterType="noteVO" >
		select *
		from note
		where receiver = #{receiver}
	</select>

</mapper>